---
import Layout from '@/layouts/Layout.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'
import AboutMe from '@/components/AboutMe.astro'
import Hero from '@/components/Hero.astro'
import Stack from '@/components/Stack.astro'
---

<Layout
  title="Portfolio de Frank Santos - Desarrollador y programador web y móvil con 2 años de experiencia"
  description="Contrata a Frank Santos para crear tu aplicación web o móvil. Desarrollador web y móvil especializado en la creación de aplicaciones únicas."
>
  <main>
    <Hero />
    <SectionContainer>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="stack">
      <Stack />
    </SectionContainer>
  </main>
</Layout>
