---
import Layout from '@/layouts/Layout.astro'
import Card from '../components/Card.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcon from '../icons/GitHub.astro'
import MailIcon from '../icons/Mail.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Briefcase from '../icons/Briefcase.astro'
import CodeIcon from '../icons/Code.astro'
import Projects from '../components/Projects.astro'
import AboutMe from '@/components/AboutMe.astro'
import Hero from '@/components/Hero.astro'
import ProfileCheck from '@/icons/ProfileCheck.astro'
---

<Layout
  title="Portfolio de Frank Santos - Desarrollador y programador web y móvil con 2 años de experiencia"
  description="Contrata a Frank Santos para crear tu aplicación web o móvil. Desarrollador web y móvil especializado en la creación de aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
        <ProfileCheck cladd="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
