---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Desarrollador móvil',
    company: 'Sof.ia',
    description:
      'Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de la aplicación. Mejora de un 30% en la entrega de software. Incrementó en un 50% las descargas y registros de la app mediante el uso de analítica enfocada en nuestro público objetivo. Implementó medidas de integración continua con terceros y socios. Despliegue en PlayStore y AppStore.',
    link: 'https://inspirateilumina.com/',
  },
  {
    date: 'Junio 2023',
    title: 'Desarrollador Web Freelance',
    company: 'Aythen',
    description:
      'Responsable de la plataforma, componentes para la creación y desarrollo de la página web. Se realizó tareas semanales de desarrollo front-end, cumpliendo consistentemente los plazos establecidos. Propuestas y aplicaciones de mejoras en el diseño y la funcionalidad del front-end, mejorando la experiencia del usuario.',
    link: 'https://aythen.com/',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
